---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPost from '../../components/BlogPost.astro'

export async function getStaticPaths() {
  /** Get posts list */
  const allPosts = await Astro.glob('../posts/*.md')

  /** List of new routes created with param and props */
  return [
    {
      params: { tag: "astro" },
      props: {posts: allPosts}
    },
    {
      params: { tag: "successes" },
      props: {posts: allPosts}
    },
    {
      params: { tag: "community" },
      props: {posts: allPosts}
    },
    {
      params: { tag: "blogging" },
      props: {posts: allPosts}
    },
    {
      params: { tag: "setbacks" },
      props: {posts: allPosts}
    },
    {
      params: { tag: "learning in public" },
      props: {posts: allPosts}
    },
  ]
}

/** Receive data from generate routes above */
const { posts } = Astro.props
const { tag } = Astro.params

const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag))
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {filteredPosts.map((post) =>
      <BlogPost url={post.url} title={post.frontmatter.title} />
    )}
  </ul>
</BaseLayout>
