---
import BaseLayout from '../layouts/BaseLayout.astro'

import '../assets/styles/main.css'

const pageTitle = `Blog`
---

<BaseLayout pageTitle={pageTitle}>
  <section class="section">
    <h2 id="presentation" class="section-title">Articles list</h2>
    <ul>
      <li><a href="/posts/post-1">Post 1</a></li>
      <li><a href="/posts/post-2">Post 2</a></li>
      <li><a href="/posts/post-3">Post 3</a></li>
    </ul>
  </section>
</BaseLayout>
