---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogPost from '@components/BlogPost.astro'

const pageTitle = `Blog`
const allPosts = await Astro.glob('../pages/posts/*.md')
---

<BaseLayout pageTitle={pageTitle}>
  <section class="section">
    <h2 id="presentation" class="section-title">Articles list</h2>
    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
  </section>
</BaseLayout>
