---
import BaseLayout from '../layouts/BaseLayout.astro'

import '../assets/styles/main.css'

const pageTitle = `Home`
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome subtitle</h2>
</BaseLayout>
